{% extends "core/base.html" %} 
{% load crispy_forms_tags %} {% block content %}

<div class="container mt-3">

    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-grup">
            <legend class="border-bottom mb-4 text-center">Update Reminder</legend>
            <div class='m-2'>
                {{ form.text|as_crispy_field }}
            </div>
            <div class="m-2 col-7">
                {{ form.date|as_crispy_field }}
            </div>
            <div class="m-2 col-7">
                {{ form.repeat|as_crispy_field }}
            </div>
            <div class='m-2'>
                {{ form.active|as_crispy_field }}
            </div>
        </fieldset>
        <div class="row mx-auto m-4">
            <div class="d-grid gap-2 col-5 mx-auto">
                <a class="btn btn-outline-primary m-2" href="{% url 'core:search' %}">Cancel</a>
            </div>
            <div class="d-grid gap-2 col-5 mx-auto">
                <button class="btn btn-outline-success m-2" type="submit">Update</button>
            </div>
        </div>
    </form>

</div>

{% endblock content %}